@import url("./styles/animations.css");
@import url("./styles/static-page.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.logo img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
}

.text-transition {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
}

.arrow-transition {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
}

.hovered .text-transition {
  transform: translateX(15px);
}

.hovered .arrow-transition {
  transform: translateX(20px);
  opacity: 0;
}
